@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');

body{
    margin: 0;
    font-family: 'Alata';
}

h1, h2, h3{
    margin: 0;
    color: #2c3e50;
}

.titleName{
    font-family: 'Fjalla One';
}

a{
    text-decoration: none;
    list-style: none;
    color: white;
    position: relative;
    cursor: pointer;
}

ul a.active::after{
    content: "";
    background: white;
    width: 4px;
    height: 4px;
    border-radius: 4px;
    position: absolute;
    left: CALC(50% - 2px);
    bottom: -6px;
}

.scrollactive {
    background: #2c3e50;
    padding: 10px 0 !important;
}